*{
    margin:0;
    padding: 0;
}

div{
    background-color: blanchedalmond;
    width:30w;
    height:100vh;
}
input{
    border-radius:20px ;
    padding:5px 40px;
}
button{
    background-color:#26f726;
    padding:12px 40px;
    color:black;
    border-radius:10px;
    border: 1px #26f726 solid ;
}