<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/Forgotpassword.css">
</head>
<body><center>
    <div><br>
        <h1>Forgot Password</h1><br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}<br>
        <form method="post">
        <label for="">Enter email</label>
        <input type="text" placeholder=" Enter email" name="email"><br><br>
        <button>submit</button>
        </form><br>
        <p>If You dont have Account? Please <a href="#">Register</a></p><br>
        <p>If You have an Account? Please <a href="#">Login</a></p><br>
    </div>
    </center>
</body>
</html>